;; shadow-cljs.edn
;;
;; shadow-cljs configuration

{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [;; Promise library for Clojure(Script)
  [funcool/promesa "10.0.571"]]

 :builds
 {:client {:target :node-script
           :main ca.clojurist.hello/main
           :output-to "dist/client.js"}}}
